html,
body {
  font-family: 'Raleway', sans-serif;
  background-color: #e5fcc2;
  color: #594f4f;
  width: 100%;
  height: 100%;
  margin: 0px 10px 0px 10px;
  text-align: center;
}

body {
  display: grid;
  /* grid-template-rows: 120px 400px 150px 150px; */
  grid-template-rows: 30% 50% 10% 10%;
  /* grid-template-columns: 200px auto 150px 200px; */
  grid-template-columns: 25% 50% 15% 10%;
}

header,
footer {
  grid-column-end: span 4;
  padding: 5px;
}

header {
  grid-row-start: 1;
  margin: 0px 0px 20px 0px;
}

footer {
  grid-row-start: 4;
}

main {
  grid-column-start: 2;
  grid-row: 2;
}

.sidebar-left {
  grid-column: 1;
  grid-row-start: 2;
  padding: 20px;
}

.button-column {
  grid-column-start: 3;
  padding: 20px;
  align-items: left;
}

.button {
  color: #e5fcc2;
  background-color: #45ada8;
  border: 2px solid #594f4f;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.score {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container,
.card-front,
.card-back {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 300px;
  height: 200px;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  color: #594f4f;
  background-color: #9de0ad;
  border: 3px solid #594f4f;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
  padding-top: 25px;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.italic {
  font-style: italic;
}
