html,
body {
  font-family: 'Raleway', sans-serif;
  background-color: #e5fcc2;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: #547980;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #547980;
  text-align: center;
}

#cardArea {
  display: flex;
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 80px;
  border: 3px solid #594f4f;
  color: #594f4f;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #9de0ad;
}

.card {
  width: 300px;
  height: 200px;
  position: absolute;
  text-align: center;
  line-height: 200px;
  font-size: 45px;
  text-align: center;
  /* font-size: 1em; */
  padding: 20px 0;
  align-items: center;
  align-content: center;
}

#buttonArea {
  display: flex;
  height: 20px;
  width: 30%;
  margin: auto;
  padding: 3px;
  position: relative;
}

.button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  margin: auto;
  margin-top: 30px;
  background-color: darkred;
  border: 2px solid #594f4f;
  border-radius: 5px;
}

#finalMessage {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
