html,
body {
  font-family: 'Raleway', sans-serif;
  background-color: #e5fcc2;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #594f4f;
}

h1 {
  text-align: center;
  color: #547980;
  font-size: 4em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #547980;
  text-align: center;
}

.flip-container {
  perspective: 1000px;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container,
.card-front,
.card-back {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 300px;
  height: 200px;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  color: #594f4f;
  background-color: #9de0ad;
  border: 3px solid #594f4f;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
  padding-top: 25px;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.button {
  display: flex;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  margin: auto;
  margin-top: 30px;
  /* background-color: darkred; */
  background-color: #45ada8;
  border: 2px solid #594f4f;
  border-radius: 5px;
}

#finalMessage {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.flex-row-container > .flex-row-item {
  flex-grow: 1;
  flex: 1 1 30%;
}
